* {
    margin: 0;
    padding: 0;
}

.template {
    display: flex;
    gap: 10%;
    min-height: 100px;
    background-color: blue;
}

.one {

    /* min-width: 80%; */
    background-color:rgb(51, 255, 0);
}

.two {
    background-color: red;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100px; */
    gap: 1rem;
    background-color: blueviolet;
}

li {
    list-style: none;
    background-color: aqua;
    flex-basis: 100px;
}