* {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.template {
    display: flex;
    gap: 10%;
    min-height: 100px;
    background-color: rgb(33, 33, 91);
}

.one {

    /* min-width: 80%; */
    background-color:rgb(34, 119, 13);
}

.two {
    background-color: rgb(77, 14, 14);
}

.nav-bar {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100px; */
    gap: 1rem;
    background-color: blueviolet;
}

li {
    list-style: none;
    background-color: rgb(50, 105, 105);
    flex-basis: 100px;
}

