* {
    margin: 0;
    padding: 0;
}

.template {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    min-height: 20px;
    /* min-width: 80%; */
    background-color:blue;.template 
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    min-height: 20px;
    /* min-width: 80%; */
    background-color:blue;
}

.n-bar{
    position: absolute;
    top: 0%;
    left: 1%;
    right: 1%;
    bottom: 90%;
    min-height: 20px;
    /* min-width: 80%; */
    background-color:rgb(51, 255, 0);
}
